* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
:root {
    --background: #1D1C38;
    --background-items: #e26c7a;
    --background-items-hover: #f1faee;
    --background-modal: #2864A8;
    --background-out-modal: rgba(0, 0, 0, 0.5);
    --color-cards: #8193A8;
    --color-font: #f1faee;
}
body {
    background-color: var(--background);
    background-image: url(img/mononoke.png);
    background-repeat: no-repeat;
    background-size: 35vw;
    background-position: 60vw 15vw;
}
.top {
    width: 100%;
}
.top-img{
    width: 100%;
    margin-top: 20px;
}
.top-title h1{
    margin: -8vw 0 0;
    color: var(--color-font);
    font-size: 6vh;
}
.container {
    margin: 1vw 13vw;
    min-height: 125vw;
}
.navbar {
    overflow: hidden;
    margin: 7vw 0 0 15vw;
    padding: 0 10px;
    font-size: large;
    text-align: left;
}
.navbar a {
    float: left;
    display: block;
    padding: 14px 16px;
    color: var(--color-font);
    font-size: 17px;
    text-decoration: none;
}
.navbar a:hover {
    text-decoration: underline;
} 
.navbar a.active {
    color:  var(--background-items);
    text-shadow:3px 3px 3px black;
}
.description {
    margin: 3vw 1vw 1vw;
    padding: 2vw;
    width: 65%;
    color: var(--color-font);
    font-size: 2.5vh;
    font-weight: 400;
    text-align: left;
    text-indent: 10vw;
}
.btn-catalogue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 3vw 3vw 3.3vw;
    width: 70%;
}
.btn-catalogue-filter{
    background-color: var(--background-items);
    padding: 0.5vw 1vw;
    min-height: 100%;
    width: 65%;
    cursor: pointer;
    border:none;
    border-radius: 0.5vw;
    color: var(--color-font);
    font-size: 1.2rem;
    font-weight: 600;
}
.btn-catalogue-filter:hover {
    background-color: var(--background-items-hover);
    color: var(--color-font);
}
.catalogue {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1vw;
    row-gap: 1vw;
    margin: 3vw 0 2vw;
}
.card {
    background-color: var(--color-cards); 
    padding: 1vw;
    border-radius: 0.3vw;
    font-size: 1.2rem;
}
.card-img {
    width: 100%;
    margin-bottom: 0.4vw;
}
.btn-modal {
    background: none;
    padding: 0;
    cursor: pointer;
    border: none;
}
.btn-modal:hover {
    opacity: 0.4;
}
.modal {
    background-color: var(--background-out-modal);
    position: fixed; 
    display: none; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal-content {
    background-color: var(--background-modal); 
    margin: 7% 20%;
    padding: 2vw 4vw 2.5vw;
    min-width: 60%;
    min-height: 45%;
    color: var(--color-font);
    font-size: 1.25rem;
    font-weight: 400;
}
.modal-director {
    margin: 1vw;
}
.modal-score-duration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -1vw -5vw 1vw;
}
.close {
    background-color:var(--background-modal);
    margin-top: 3vw;
    border: 1px solid var(--color-font);
    padding: 0.5vw 2vw;
    cursor: pointer;
    border-radius: 0.5vw;
    color: var(--color-font);
    font-size: 1.2rem;
    font-weight: 600;
}
.close:hover {
    background-color: var(--color-font);
    color: var(--background-modal);
}
.back {
    margin: 5%;
}
.back-top {
    color: var(--color-font);
    font-size: 1.3rem;
    text-decoration: none;
}
.back-top:hover {
    text-shadow:4px 4px 4px var(--background-items);
}
footer {
    background-color: var(--background-items);
    max-width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    column-gap: 5vw;
    align-items: center;
    color:  var(--color-font);
    font-size: 1rem;
}
.img-logo-ghibli {
    width: 180px;
}
.img-totoro {
    width: 10rem;
}
.links {
    color:  var(--color-font);
    text-decoration: none;
}
.links:hover {
    text-shadow:3px 3px 3px black;
}
@media only screen and (max-width: 800px) {
    .title-films {
        font-size: 2.5rem;
    }
    .films-description {
        color: var(--color-font);
        font-size: 1rem;
    }
    .navbar a {
        padding: 12px 10px;
        font-size: 14px;
    }
    .btn-catalogue {
        padding: 1vw;
    }
    .btn-catalogue-filter{
        padding: 0.6vw 1vw;
        font-size: 0.75rem;
    }
    .catalogue {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1.5vw;
        row-gap: 1.5vw;
    }
    .card {
        font-size: 0.8rem;
    }
    .card-img {
        margin-bottom: 1vw;
    }
    .modal-content {
        font-size: 0.85rem;
    }
    .modal-director {
        margin: 1vw;
    }
    .modal-score-duration {
        margin: 1vw -5vw;
    }
    .close {
        font-size: 0.8rem;
    }
    .back-top {
        font-size: 0.8rem;
    }
    .footer {
        font-size: 0.7rem;
    }
    .logo-ghibli {
        width: 120px;
    }
    .totoro {
        width: 7rem;
      }
}

@media screen and (max-width: 420px){
    .title-films {
        font-size: 1.8rem;
    }
    .navbar {
        margin: 7vw 0 0 10vw;
    }
    .navbar a {
        padding: 5px 3px;
        font-size: 9px;
    }
    .films-description {
        margin: 1vw 1vw 0.5vw 0;
        font-size: 0.8rem;
    }
    .btn-catalogue-filter {
        margin-right: 5vw;
        padding: 0.3vw 1vw;
        width: 77%;
        font-size: 0.4rem;        
    }
    .catalogue {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5vw;
        row-gap: 1.5vw;
        margin: 2.2vw -2vw;
    }
    .card {
        font-size: 0.5rem;
    }
    .card-img {
        margin-bottom: 1vw;
    }
    .modal-content {
        margin: 30% 10%;
        padding: 2vw 4vw 4vw;
        min-width: 80%;
        min-height: 35%;
        font-size: 0.6rem;
    }
    .modal-director {
        margin: 1vw 0;
    }
    .modal-score-duration {
        margin: 2vw -3vw 3vw;
    }
    .close {
        font-size: 0.6rem;
    }
    .back-top {
        font-size: 0.65rem;
    }
    .footer {
        font-size: 0.47rem;
    }
    .logo-ghibli {
        width: 60px;
    }
    .totoro {
        width: 5rem;
    }
} 